@import "../../app/colors";

.wrapper {
  display: flex;
  margin-top: 40px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;

  @mixin btn($bg, $color) {
    user-select: none;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    width: 122px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: $bg;
    font-family: inherit;
    path {
      fill: $color;
    }
    p {
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 2px;
      color: $color;
    }
  }
  button {
    @include btn($pink_100, $pink_200);
    &:hover {
      @include btn($pink_200, $white);
    }
    &:disabled {
      @include btn($grey_100, $grey_300);
      cursor: default;
    }
  }
}
@media (max-width: 520px) {
  .wrapper {
    width: 250px;
  }
}
