@import "../../colors";

.control-dots {
  .dot,
  .selected {
    background-color: $pink_100 !important;
    box-shadow: none !important;
    opacity: 1 !important;
    height: 10px !important;
    width: 10px !important;
  }
  .dot:hover {
    background-color: $pink_200 !important;
  }
  .selected {
    background-color: $pink_200 !important;
  }
}
.carousel-slider {
  overflow: visible !important;
}
