$light_pink: #fbe0dc;
$dark_pink: #ff868e;

.control-dots{
    .dot, .selected{
        background-color: $light_pink !important;
        box-shadow: none !important;
        opacity: 1 !important;
        height: 10px !important;
        width: 10px !important; 
      }
      .dot:hover{
        background-color: $dark_pink !important;
      }
      .selected{
        background-color: $dark_pink !important;
      }
}
  .carousel-slider{
    overflow:visible !important;
  }