.wrapper{
  position: relative;
}

.grid {
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 140px;
  gap: 20px;
  grid-auto-flow: dense;
 
}
.grid :nth-child(10n + 1),
.grid :nth-child(10n + 8) {
  grid-area: span 2;
}
.grid :nth-child(10n + 4) {
  grid-column: 1;
}
.grid :nth-child(10n + 5),
.grid :nth-child(10n + 9) {
  grid-area: span 2 / span 2;
}


.img__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  .bg{
    position: absolute;
    background-color: #FF868E99;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: none;
  }
  &>img{
    object-fit: cover;
  }
  .img__hover{
    position: absolute;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
    display: none;
    z-index: 2;
  }
  &:hover{
      background-color: #FF868E99;
      .bg{
        display: block;
      }
      .img__hover{
        display: flex;
      }
  }
}

.center{
  top: 20vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
