.wrapper {
  position: relative;
  width: 100%;
}

.grid {
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 140px;
  gap: 20px;
  grid-auto-flow: dense;
}
.grid :nth-child(10n + 1),
.grid :nth-child(10n + 8) {
  grid-area: span 2;
}
.grid :nth-child(10n + 4) {
  grid-column: 1;
}
.grid :nth-child(10n + 5),
.grid :nth-child(10n + 9) {
  grid-area: span 2 / span 2;
}

.img__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  .bg {
    position: absolute;
    background-color: #ff868e99;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: none;
  }
  & > img {
    object-fit: cover;
  }
  .img__hover {
    position: absolute;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
    display: none;
    z-index: 2;
  }
  &:hover {
    background-color: #ff868e99;
    .bg {
      display: block;
    }
    .img__hover {
      display: flex;
    }
    .hover__breeds {
      display: flex !important;
    }
  }
}

.center {
  position: relative;
  height: 320px;
  & > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.no__item {
  margin-top: 40px;
  height: 60px;
  background-color: #f8f8f7;
  padding: 18px 20px;

  box-sizing: border-box;
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #8c8c8c;
  }
}

.hover__breeds {
  display: none !important;
  position: absolute;
  user-select: none;
  width: calc(100% - 20px);
  height: min-content;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  bottom: 10px;
  z-index: 2;
  p {
    color: #ff868e;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 5px 0;
    text-align: center;
  }
}
.loader__small{
  @keyframes s2 {
    to {
      transform: rotate(1turn);
    }
  }
 
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid;
  border-color: #e4e4ed;
  border-right-color: #ff868e;
  animation: s2 1s infinite linear;


}

@media (max-width: 520px) {
  .grid {
    display: flex;
    flex-direction: column;
    & > div {
      width: 100%;
      height: 200px;
    }
  }
}
