@import "../colors";

@mixin wrapper($cursor) {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
  border-radius: 20px;
  overflow: hidden;
  gap: 4px;
  background-color: $white;
  border: 4px solid $white;
  & > button {
    cursor: $cursor;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }
}
.wrapper {
  margin-top: 20px;
  margin-bottom: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .img__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 360px;
    border-radius: 20px;
  }
  .current__img {
    object-fit: cover;
  }
}
.buttons__wrapper {
  @include wrapper(pointer);
}
.buttons__wrapper__disable {
  @include wrapper(not-allowed);
}
.btn1,
.btn2,
.btn3 {
  transition: background-color 0.2s ease-out;
}
.btn1 {
  background-color: $green_100;
  &:hover {
    background-color: $green_200;
    svg:first-child {
      path {
        fill: $green_100;
      }
    }
  }
}
.btn2 {
  img {
    display: none !important;
  }
  background-color: $pink_200;
  &:hover {
    background-color: $pink_300;
    svg:first-child {
      path {
        fill: $pink_200;
      }
    }
  }
}
.btn3 {
  background-color: $yellow_100;
  &:hover {
    background-color: $yellow_200;
    svg:first-child {
      path {
        fill: $yellow_100;
      }
    }
  }
}
.btn1__click,
.btn3__click {
  transition: background-color 0.5s all;
}
.btn1__click {
  background-color: $green_100;
}
.btn2__click {
  transition: background-color 1s all;
  svg {
    display: none;
  }
  img {
    display: block !important;
  }
  background-color: $pink_200;
}
.btn3__click {
  background-color: $yellow_100;
}
