@import "../../app/colors";

@mixin btn($margin) {
  .btn {
    cursor: pointer;
    position: absolute;
    right: $margin;
    top: $margin;
    height: 60px;
    width: 60px;
    border-radius: 20px;
    background-color: $white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $pink_200;
      svg {
        path {
          fill: $white;
        }
      }
    }
  }
}

@mixin img__wrapper($border, $bg) {
  position: relative;
  overflow: hidden !important;
  .current__img {
    object-fit: cover;
    z-index: 2;
  }

  user-select: none;
  cursor: pointer;
  max-width: 640px;
  width: 100%;
  height: 320px;
  border: dotted 2px $border;
  border-radius: 20px;
  background-color: $bg;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  h3 {
    position: absolute;
    z-index: 1;
  }
  img {
    position: absolute;
  }
}

.wrapper {
  padding: 30px;
  box-sizing: border-box;
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: $grey_100;
  width: 100%;
  height: 100%;
  @include btn(30px);
  & > div {
    margin-top: 110px;
    display: flex;
    justify-content: center;
  }
}

.wrapper__upload {
  position: fixed;
  left: 0;
  top: 0;
  background-color: $black_200;
  z-index: 10;
  height: 100%;
  width: 100%;
  input {
    display: none;
  }
}
.container__upload {
  @include btn(20px);
  position: absolute;
  margin-left: auto;
  max-width: 680px;
  width: 100%;
  height: calc(100% - 60px);
  background-color: $grey_100;
  border-radius: 20px;
  top: 30px;
  right: 30px;
  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: $grey_300;
  }
  h1 {
    color: $black_100;
    font-size: 36px;
    font-weight: 500;
    line-height: 52px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 100px;
    width: 100%;
  }
  h2 {
    color: $grey_300;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    span {
      color: $pink_200;
    }
  }
  h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: $black_100;
  }
  span {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: $grey_300;
  }
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.paste__img__wrapper {
  @include img__wrapper($pink_100, $white);
}
.paste__img__wrapper__wrong {
  @include img__wrapper($pink_200, $pink_100);
  img:first-child {
    width: calc(100% - 80px) !important;
    height: 280px !important;
    position: absolute;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }
}
.upload {
  font-family: inherit;
  cursor: pointer;
  border: none;
  height: 40px;
  padding: 0 30px;
  background-color: $pink_200;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  p {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: center;
    color: $white;
  }
  &:hover {
    p {
      color: $pink_200;
    }
    background-color: $pink_100;
  }
  &:disabled {
    cursor: default;
    background-color: $pink_200;
    p {
      color: $white;
    }
  }
}
.result {
  padding: 0 30px;
  & > div {
    margin-top: 20px;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 10px;
    padding: 0 20px;
    box-sizing: border-box;
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: $grey_300;
    }
  }
}

.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid;
  border-color: $grey_200;
  border-right-color: $pink_200;
  animation: s2 1s infinite linear;
}

@keyframes s2 {
  to {
    transform: rotate(1turn);
  }
}

@media (max-width: 740px) {
  .container__upload {
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 0;
  }
}
@media (max-width: 600px) {
  .container__upload {
    h1 {
      font-size: 20px;
      line-height: 29px;
    }
  }
  .result {
    padding: 0;
  }
  .current__img {
    height: 150px !important;
  }
}

@media (max-width: 520px) {
  .wrapper {
    & > div {
      display: block;
    }
  }
  .paste__img__wrapper,
  .paste__img__wrapper__wrong {
    height: 165px;
    max-width: 100% !important;
    img:first-child {
      height: 150px !important;
      width: calc(100% - 40px) !important;
    }
  }
}
