@mixin btn($margin) {
  .btn {
    cursor: pointer;
    position: absolute;
    right: $margin;
    top: $margin;
    height: 60px;
    width: 60px;
    border-radius: 20px;
    background-color: #ffffff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    .second__img {
      display: none;
    }
    &:hover {
      background-color: #ff868e;
      .first__img {
        display: none;
      }
      .second__img {
        display: block;
      }
    }
  }
}

@mixin img__wrapper($border,$bg) {
  position: relative;
  overflow: hidden !important;
  .current__img {
    object-fit: cover;
    z-index: 2;
  }

  user-select: none;
  cursor: pointer;
  max-width: 640px;
  width: 100%;
  height: 320px;
  border: dotted 2px $border;
  border-radius: 20px;
  background-color: $bg;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  h3 {
    position: absolute;
    z-index: 1;
  }
  img {
    position: absolute;
  }
}

.wrapper {
  padding: 30px;
  box-sizing: border-box;
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #f8f8f7;
  width: 100%;
  height: 100%;
  @include btn(30px);
  & > div {
    margin-top: 110px;
    display: flex;
    justify-content: center;
  }
}

.wrapper__upload {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #1d1d1d99;
  z-index: 10;
  height: 100%;
  width: 100%;
  input {
    display: none;
  }
}
.container__upload {
  @include btn(20px);
  position: absolute;
  margin-left: auto;
  max-width: 680px;
  width: 100%;
  height: calc(100% - 60px);
  background-color: #f8f8f7;
  border-radius: 20px;
  top: 30px;
  right: 30px;
  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #8c8c8c;
  }
  h1 {
    color: #1d1d1d;
    font-size: 36px;
    font-weight: 500;
    line-height: 52px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 100px;
    width: 100%;
  }
  h2 {
    color: #8c8c8c;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    span {
      color: #ff868e;
    }
  }
  h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #1d1d1d;
  }
  span {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #8c8c8c;
  }
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.paste__img__wrapper {
  @include img__wrapper(#fbe0dc,#ffffff);
}
.paste__img__wrapper__wrong {
  @include img__wrapper(#FF868E,#FBE0DC);
  img:first-child{
    width: calc(100% - 80px) !important;
    height: 280px !important;
    position: absolute;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%,-50%);
    border-radius: 10px;
  }
 
}
.upload {
  font-family: inherit;
  cursor: pointer;
  border: none;
  height: 40px;
  padding: 0 30px;
  color: #ffffff;
  background-color: #ff868e;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: center;
}
.result {
  padding: 0 30px;
  &>div{
    margin-top: 20px;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 10px;
    padding: 0 20px;
    box-sizing: border-box;
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: #8c8c8c;
    }
  }  

}
@media (max-width: 740px) {
 .container__upload{
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 100% ;
  top: 0;
  right: 0;
  border-radius: 0;
  
}
}
@media (max-width: 600px){
  .container__upload {
    h1 {
      font-size: 20px;
      line-height: 29px;
    }
  }
  .result {
    padding: 0;
}
.current__img {
  height: 150px !important; 
}

}

@media (max-width: 520px) {
  .wrapper {
    & > div {
      display: block;
    }
  }
  .paste__img__wrapper,
.paste__img__wrapper__wrong {
  height: 165px;
  max-width: 100% !important;
  img:first-child{
    height: 150px !important;
    width: calc(100% - 40px) !important;
  }
 
}
}

