$white: #ffffff;
$white_100: #ffffff99;
$grey_100: #f8f8f7;
$grey_200: #e4e4ed;
$grey_300: #8c8c8c;
$black_100: #1d1d1d;
$black_200: #1d1d1d99;
$pink_100: #fbe0dc;
$pink_200: #ff868e;
$pink_300: #ff868e4d;
$pink_400: #ff868e99;
$green_100: #97eab9;
$green_200: #97eab94d;
$yellow_100: #ffd280;
$yellow_200: #ffd2804d;
$blue_100: #b4b7ff;


