* {
  margin: 0;
  padding: 0;
}

body {
  background: #e7e7e7; //#f8f8f7;
  padding: 30px;
}

main {
  display:flex;
  justify-content: space-between;
}
h1 {
  display: inline;
  font-size: 44px;
  font-weight: 500;
  line-height: 58px;
  color: #1d1d1d;
}
h2 {
  font-size: 20px;
  font-weight: 400;
  color: #8c8c8c;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  color: #1d1d1d;
}
img {
  user-select: none;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid;
  border-color: #e4e4ed;
  border-right-color: #ff868e;
  animation: s2 1s infinite linear;
}


@keyframes s2 {
  to {
    transform: rotate(1turn);
  }
}

@media (max-width: 1010px) {
  main {
    justify-content: center;
  }
}

@media (max-width: 520px) {
  body {
    padding: 20px;
  }
  main {
    & > div {
      width: 100%;
    }
  }
}
