$ml: 117px;

.navigation {
  display: flex;
  margin-left: $ml;
  .logo {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }
}
.main {
  display: flex;
  justify-content: space-between;
  margin-left: $ml;
}
.right {
  right: 0;
  top: 0;

  .right__image {
    position: absolute;
    right: 0;
    top: 0;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: #fbe0dc;
    border-radius: 20px;
    width: 680px;
    height: 840px;
    z-index: -1;
    top: 30px;
    right: 30px;
  }
}
.left {
  display: flex;
  flex-direction: column;
  h1 {
    margin-top: 80px;
    margin-bottom: 10px;
  }
  h2 {
    margin-bottom: 60px;
  }
  h3 {
    margin-bottom: 20px;
  }
}
.cards {
  display: flex;
  gap: 16px;
  :nth-child(1) {
    div {
      background-color: #b4b7ff;
    }
  }
  :nth-child(2) {
    div {
      background-color: #97eab9;
    }
  }
  :nth-child(3) {
    div {
      background-color: #ffd280;
    }
  }
  div {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    div {
      height: 198px;
      width: 138px;
      border-radius: 20px;
      border: 4px solid #ffffff99;
      box-sizing: border-box;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    button {
      cursor: pointer;
      font-family: inherit;
      border-radius: 10px;
      height: 36px;
      background-color: #ffffff;
      width: 138px;
      border: none;
      letter-spacing: 2px;
      font-weight: 500;
      line-height: 16px;
      font-size: 12px;
      color: #ff868e;
      text-transform: uppercase;
      &:hover {
        background-color: #fbe0dc;
      }
    }
  }
}

.active__btn {
  background-color: #ff868e !important;
  color: #ffffff !important;
}

@media (max-width: 1400px) {
  .right__image {
    height: 696px;
    width: 600px;
    transform: translate(0, 10%);
  }
  .right::after {
    width: 530px;
    height: 700px;
  }
}

@media (max-width: 1220px) {
  .right__image {
    height: 580px;
    width: 500px;
    transform: translate(0, 30%);
  }
  .right::after {
    width: 430px;
    height: 700px;
  }
}

@media (max-width: 1110px) {
  .right__image {
    height: 464px;
    width: 400px;
    transform: translate(0, 40%);
  }
  .right::after {
    width: 340px;
    height: 600px;
  }
}

@media (max-width: 1010px) {
  .right {
    display: none;
  }
  .main {
    justify-content: center;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .navigation {
    margin-left: 0;
  }
  .main {
    justify-content: center;
    margin-left: 0;
  }
}

@media (max-width: 520px) {
  .main {
    display: block;
  }
  .cards {
    flex-direction: column;
    gap: 20px;
    div > div {
      display: none;
    }
    button {
      width: 100% !important;
    }
  }
}
