$ml: 117px;
$light_pink: #fbe0dc;
$dark_pink: #ff868e;

.right {
  right: 0;
  top: 0;
  .right__image {
    position: absolute;
    right: 0;
    top: 0;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: $light_pink;
    border-radius: 20px;
    width: 680px;
    height: 840px;
    z-index: -1;
    top: 30px;
    right: 30px;
  }
}

@media (max-width: 1400px) {
  .right__image {
    height: 696px;
    width: 600px;
    transform: translate(0, 10%);
  }
  .right::after {
    width: 530px;
    height: 700px;
  }
}

@media (max-width: 1220px) {
  .right__image {
    height: 580px;
    width: 500px;
    transform: translate(0, 30%);
  }
  .right::after {
    width: 430px;
    height: 700px;
  }
}

@media (max-width: 1110px) {
  .right__image {
    height: 464px;
    width: 400px;
    transform: translate(0, 40%);
  }
  .right::after {
    width: 340px;
    height: 600px;
  }
}

@media (max-width: 1010px) {
  .right {
    display: none;
  }
}
