@import "../../app/colors";

$ml: 117px;

@mixin center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin header {
  display: flex;
  margin-left: $ml;
  margin-bottom: 10px;
  justify-content: space-between;
}

@mixin logo {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.header {
  @include header();
}
.header2 {
  @include header();
}

.logo {
  @include logo();
}
.logo1 {
  @include logo();
}
.header__right {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  input,
  a,
  button {
    border-radius: 20px;
  }
  .input__wrapper {
    position: relative;
    &:hover {
      input {
        border: 2px solid $pink_100;
      }
      svg {
        path {
          fill: $white;
        }
      }
    }
    input {
      font-family: inherit;
      width: 470px;
      height: 60px;
      padding: 15px 60px 15px 20px;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      border: 2px solid $white;
      box-sizing: border-box;
      color: $black_100;
      &:focus {
        outline: none;
        border: 2px solid $pink_200;
      }
      &::placeholder {
        color: $grey_300;
      }
    }
    a {
      position: absolute;
      cursor: pointer;
      right: 10px;
      top: 10px;
      width: 40px;
      height: 40px;
      background-color: $pink_100;
      border-radius: 10px;

      &:hover {
        background-color: $pink_200;
      }
    }
  }
  button {
    border: none;
    display: none !important;
    cursor: pointer;
  }
  a,
  button {
    width: 60px;
    height: 60px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      path {
        fill: $pink_200;
      }
    }
    &:hover {
      background-color: $pink_100;
    }
    img {
      position: relative;
      @include center;
    }
  }
}
.active__link {
  background-color: $pink_200 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    path {
      fill: $white !important;
    }
  }
}

@media (max-width: 1320px) {
  .header2 {
    margin-left: 0;
  }
  .left {
    display: none;
  }
  .header__right {
    width: 100% !important;
    button {
      display: flex !important;
    }
  }
  .input__wrapper {
    flex: 1;
    input {
      width: 100% !important;
    }
  }
}

@media (max-width: 768px) {
  .header {
    margin-left: 0;
  }
}

@media (max-width: 540px) {
  .header__right {
    flex-wrap: wrap;
    & > *,
    button {
      flex-direction: column;
    }
    & > div {
      order: 1;
      flex: 0 0 100%;
    }
    & > button {
      margin-right: auto;
    }
  }
}
