$ml: 117px;
$light_pink: #fbe0dc;
$dark_pink: #ff868e;

@mixin center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin header {
  display: flex;
  margin-left: $ml;
  margin-bottom: 10px;
  justify-content: space-between;
}

.header {
 @include header()
}
.header2 {
  @include header()
 }

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.header__right {
  display: flex;
  flex-wrap: wrap ;
  gap: 10px;
  input,
  a,button {
    border-radius: 20px;
  }
  .input__wrapper {
    position: relative;
    &:hover {
      input {
        border: 2px solid $light_pink;
      }
    }
    input {
      font-family: inherit;
      width: 470px;
      height: 60px;
      padding: 15px 60px 15px 20px;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      border: 2px solid #ffffff;
      box-sizing: border-box;
      color: #1d1d1d;
      &:focus {
        outline: none;
        border: 2px solid $dark_pink;
      }
      &::placeholder {
        color: #8c8c8c;
      }
    }
    div {
      position: absolute;
      cursor: pointer;
      right: 10px;
      top: 10px;
      width: 40px;
      height: 40px;
      background-color: $light_pink;
      border-radius: 10px;

      &:hover {
        background-color: $dark_pink;
      }
      &:hover {
        .first__img {
          display: none;
        }
        .second__img {
          display: block;
        }
      }
      .first__img {
        position: relative;
        @include center;
      }
      .second__img {
        position: relative;
        @include center;
        display: none;
      }
    }
  }
  button{
    border: none;
    display: none;
    cursor: pointer;
  }
  a, button {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    &:hover {
      background-color: $light_pink;
    }
    img {
      position: relative;
      @include center;
    }
  }
}
.active__link {
  background-color: $dark_pink !important;
  &:first-child {
    display: none;
  }
}

@media (max-width: 1320px) {
  .header2 {
    margin-left: 0;
  }
  .logo__disable {
    display: none;
  }
  .header__right{
    width: 100% !important;
    &>button{
      display: flex;
    }
  }
  .input__wrapper {
    flex: 1;
    input {
      width: 100% !important;
    }
  }
}

@media (max-width: 768px) {
  .header {
    margin-left: 0;
  }
}

@media (max-width: 540px) {
  .header__right{
    flex-wrap: wrap ;
    &>*,button{
      flex-direction: column;
    }
    &>div {
      order: 1;
      flex: 0 0 100%;
    }
    &>button{
      margin-right: auto;
    }
  }


 
}
