$light_pink: #fbe0dc;
$dark_pink: #ff868e;

@mixin center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin selected($color, $text) {
  user-select: none;
  background-color: $color;
  width: auto;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: $text;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 30px;
  }
}

.right {
  margin-left: auto;
  padding: 20px;
  width: 680px;
  min-height: 782px;
  max-height: 100%;
  border-radius: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
}
.subheader {
  display: flex;
  gap: 10px;
  & > div {
    border-radius: 10px;
  }
}
.back__wrapper {
  cursor: pointer;
  right: 10px;
  top: 10px;
  min-width: 40px;
  width: 40px;
  height: 40px;
  background-color: $light_pink;

  &:hover {
    background-color: $dark_pink;
  }
  &:hover {
    .first__img {
      display: none;
    }
    .second__img {
      display: block;
    }
  }
  .first__img {
    position: relative;
    @include center;
  }
  .second__img {
    position: relative;
    @include center;
    display: none;
  }
}

.selected {
 @include selected($dark_pink, #ffffff);
}
.selected1 {
  @include selected($light_pink, $dark_pink);
 }
 .selected2 {
  @include selected($dark_pink, #ffffff);
 }

.breeds__wrapper {
  display: flex;
  gap: 10px;


  & > select,button {
    font-family: inherit;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    background-color: #f8f8f7;
    height: 40px;
    border: 2px solid #f8f8f7;
    box-sizing: border-box;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #8c8c8c;
    &:disabled{
      cursor: not-allowed;
    }
    &:hover {
      border: 2px solid #fbe0dc;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #8c8c8c;
    }
  }
  select:nth-child(1) {
    min-width: 226px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  select:nth-child(2) {
    min-width: 101px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  }
  button:nth-child(3),
  button:nth-child(4) {
    width: 40px;
    min-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    img:last-child {
      display: none;
    }
    &:disabled{
      cursor: not-allowed;
    }
    &:hover {
      img:first-child {
        display: none;
      }
      img:last-child {
        display: block;
      }
    }
  }
}

.upload__wrapper{
  background-color:  $light_pink;
  height: 40px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 10px;
  margin-left: auto;
  border: none;
  cursor: pointer;
  &:disabled{
    cursor: not-allowed;
  }
  p{
font-size: 12px;
font-weight: 500;
line-height: 16px;
letter-spacing: 2px;
text-align: center;
color: $dark_pink;
  }
  img:nth-child(2){
    display: none;
  }
  &:hover{
    img:nth-child(1){
      display: none;
    }
    img:nth-child(2){
      display: block;
    }
  }
}

.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid;
  border-color: #e4e4ed;
  border-right-color: #ff868e;
  animation: s2 1s infinite linear;
  display: none;
}

@keyframes s2 {
  to {
    transform: rotate(1turn);
  }
}

@media (max-width: 1320px) {
  .right {
    width: 100%;
  }
  .breeds__wrapper {
    width: 100%;
    & > div,
    select {
      width: 100%;
    }
  }
}
@media (max-width: 760px) {
  .subheader {
    flex-wrap: wrap;
  }
}
@media (max-width: 560px) {
  .breeds__wrapper {
    flex-wrap: wrap;
  }
  .breeds__wrapper {
    select:nth-child(1) {
      order: 0;
      flex: 0 0 100%;
    }
    select:nth-child(2) {
      order: 0;
      flex: 0 0 calc(100% - 100px);
    }
  }
  .upload__wrapper{
    margin-left: 0;
    order: 2;
    flex: 0 0 100%;
  }
  .subheader{
    flex-wrap: wrap;
   
  }

}

