@import "../colors";

.text {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 400;
  line-height: 29px;
  color: $grey_300;
  strong {
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    color: $black_100;
  }
}
